<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div>
      <form action="/login" method="post">
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="username" required />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <button type="submit">Login</button>
      </form>
      <p>hesabım yok <a href="/signup">signup</a></p>
    </div>
  </body>
</html>
